.create-toggler{
    position: relative;
}
.create-section{
    z-index:2;
    padding:8px;
    background-color:black;
    position:absolute;
    transform:scale(0);
    transform-origin:top;
    top:30px;
    left:10px;
}
.create-toggler:hover .create-section{
    transform:scale(1);
}
.pagination-links{
    text-align:center;
}
a.pagination-link{
    margin:0 .8rem;
    padding:.5rem;
    background-color:black;
    color:white;
    border-radius:5px;
}
.pagination-links strong{
    margin:0 .8rem;
    padding:.5rem;
    background-color:black;
    color:white;
    border-radius:5px;
    box-shadow:0 0 4px rgba(0,0,0,.3),
    0 0 10px rgba(0,0,0,.3),
    0 0 15px rgba(0,0,0,.3),
    0 0 20px rgba(0,0,0,.3);
}
a.pagination-link:hover{
    text-decoration:none;
    box-shadow:0 0 4px rgba(0,0,0,.4),
    0 0 5px rgba(0,0,0,.4),
    0 0 7px rgba(0,0,0,.4),
    0 0 8px rgba(0,0,0,.4);
}
.category-dlt{
    display:inline;
    position: relative;
    top:-.2rem;
    right:-18rem;
    background-color:white;
    border-radius:50%;
}
.category-dlt input[type="submit"]{
    background-color:transparent;
    border:none;
    color:black;
    text-decoration:none;
}
.vertically-cnt{
    margin-top:15rem;
}
.btn-box{
    position:relative;
}